{% extends "base.html" %}

{% block content %}
<div style="width:50%;float:left;">
    <a href="/titikaka"><h4><font color="black">ТИТИКАКА</font></h4></a>
    <a href="/titikaka"><img src="/static/img/all_state/titikaka.jpg" width="90%" height="90%"></a>
</div>
<div style="width:50%;float:left;">
    <a href="/seliger"><h4><font color="black">СЕЛИГЕР</font></h4></a>
    <a href="/seliger"><img src="/static/img/all_state/seliger.jpg" width="90%" height="90%"></a>
</div>
<div style="width:50%;float:left;">
    <a href="/loh_nes"><h4><font color="black">ЛОХНЕС</font></h4></a>
    <a href="/loh_nes"><img src="/static/img/all_state/loh_nes.jpg" width="90%" height="90%"></a>
</div>
<div style="width:50%;float:left;">
    <a href="/kaspey"><h4><font color="black">КАСПИЙ</font></h4></a>
    <a href="/kaspey"><img src="/static/img/all_state/kaspey.jpg" width="90%" height="90%"></a>
</div>
{% endblock %}